@font-face {
  font-family: "Hunger Games";
  src: url('/assets/hunger_games');
  }

@font_face {
  font_family: "Roboto Regular";
  src: url('/assets/roboto_regular');
}

body {
  margin: 42px;
}

h1 {
  font-family: "Hunger Games", "Arial Black", sans-serif;
  font-size: 3.5em;
}

p {
  font-family: "Roboto Regular", "Lucida Grande", sans-serif;
}